aside.sidebar-collapsed {
    width: 80px;
}

aside.sidebar-collapsed nav a span,
aside.sidebar-collapsed nav div span {
    display: none;
}


/* .sidebar-container {
    flex: 0 0 250px;
    height: 100vh; 
    overflow-y: auto; 
    background-color: #fff; 
    z-index: 999; 
} */


/* 
#avatar{
    width: 50px;
    border-radius: 100%;
    border: 1px solid #eee;
}

aside{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 80px;
    background-color: #12171e;
    padding: .4rem .8rem;
    transition: all 0.5s ease;
}


aside.active ~ main {
    left: 250px;
    width: calc(100% - 250px);
}

aside.active{
    width: 250px;
}

aside #toggleSidebar{
    position: absolute;
    color: #fff;
    top: .4rem;
    left: 50%;
    font-size: 1.2rem;
    line-height: 50px;
    transform: translateX(-50%);
    cursor: pointer;
}

aside.active #toggleSidebar{
    left: 90%;
}

aside .logo {
    color: #fff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    pointer-events: none;
    opacity: 0;
}

aside.active .logo{
    opacity: 1;
}

.logo i {
    font-size: 2rem;
    margin-right: 5px;
}

.user {
    display: flex;
    align-items: center;
    margin: 1rem 0;
}

.user span {
    color: #fff;
    opacity: 1;
    margin-left: 1rem;
    font-weight: 600;

}

aside p {
    opacity: 0;
}

aside.active .user span {
    opacity: 1;
}

aside nav #listitem{
    position: relative;
    list-style-type: none;
    height: 50px;
    width: 90%;
    margin: 0.8rem auto;
    line-height: 50px;
}

aside ul #listitem a {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 0.8rem;
}

aside ul #listitem a:hover{
    background-color: #fff;
    color: #12171e;
}

aside ul #listitem a i {
    min-width: 50px;
    text-align: center;
    height: 50px;
    border-radius: 12px;
    line-height: 50px;
}

aside .listitemtitle {
    opacity: 0;
}

aside.active .listitemtitle {
    opacity: 1;
}

aside nav #listitem .tooltip {
    position: absolute;
    left: 125px;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0.5rem 0.8rem rgba(0,0,0,0.2);
    border-radius: .6rem;
    padding: .4rem 1.2rem;
    line-height: 1.8rem;
    z-index: 20;
    opacity: 0;
}

aside nav #listitem:hover .tooltip {
    opacity: 1;
}

aside.active nav #listitem .tooltip {
    display: none;
}

main {
    position: relative;
    background-color: #eee;
    min-height: 100vh;
    top: 0;
    left: 80px;
    transition: all 0.5s ease;
    width: calc(100% - 80px);
    padding: 1rem;
}

.container {
    display: flex;
    justify-content: space-between;
} */